*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

button{
  border: none;
} button:focus{
	box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.container{
  width: 65%;
  margin: 0 auto;
}

.cabecalho{
  padding: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

header{
 background-color: #ececec;
}

header a{
  padding: 15px 25px;
  margin: 10px;
  text-decoration: none;
  color: #3a393e;
} header a:hover{
  border-bottom: 1px solid #f86a42;
}

.menu{
margin-left: auto
}

.activeMenu{
  font-weight: 800;
}

.phone{
  padding: 15px;
  background-color: #f86a42;
  color: white;
  font-weight: bold;
  font-style: italic;
}.phone:hover{
  background-color: #fa420f;
}

.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: 0 auto;
}

.slideshow-container h1{
  position: absolute;
  top: 35%;
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: 800;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	margin-left: 140px;
	margin-right: 140px;	
	padding: 10px;
	margin-top: -20px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	transition: 0.3s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}.prev:hover, .next:hover{
	color: white;
	background-color: rgba(0, 0, 0, 0.507);
	border-radius: 10px;
	transform: scale(1.1);	
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.dot {
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 10px 1px;
	background-color: #ffffff;
	border-radius: 50%;
  border: 1px solid #3a393e;
	display: inline-block;
	transition: background-color 0.6s ease;
} .active{
  background-color: #3a393e;
}
  
.dot:hover {
	background-color: #3a393e;
	transform: scale(1.3);	
}

.conteudo1{
  display: flex;
}

.conteudo1 div{
  margin-left: 50px;
  color: #3a393e;
}

#empresa h1{
  color: #f86a42;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.saibaMais{
  margin-left: 30%;
  padding: 12px 30px;
  background-color: #faae00;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}.saibaMais:hover, .vejaEquipe:hover{
  background-color: #eb7e02;
  cursor: pointer;
}

.vejaEquipe{
  margin-left: 36%;
  padding: 12px 30px;
  background-color: #faae00;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.equipe{
  margin-top: 30px;
  margin-bottom: 30px;
}

.equipe p{
  color: #3a393e;
  margin-bottom: 10px;
}

.imgEquipe{
  margin: 30px auto;
  display: none;
}
.imgEquipe img{
  margin: 3px;
  width: 283px;
}

footer{
  height: 70px;
  background-color: #dad7d7;
  color: #3a393e;
  padding-top: 30px;
}

.contFooter{
  display: flex;
  justify-content: space-between;
}

.contato, .numero{
  font-weight: 600;
  margin-top: 10px;
}

.numero{
  font-style: italic;
  font-size: 1.2em;
}

@media(max-width: 567px){
   .container{
    width: 98%;
  }

  .cabecalho img{
    width: 60px;  
  }
	
  .menu{
    margin-left: 10px;
  }
  .cabecalho{
    padding: 10px;
    display: flex;
  }
  
  header a{
    padding: 5px;
    margin: 10px 1px;
    font-size: 12px;
  }

  .phone{
    padding: 5px;
  }
  .slideshow-container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .slideshow-container h1{
    top: 30%;
    margin-left: 20px;
    font-size: 1.2em;
  }
  
  .prev, .next {
    margin-left: 0;
    margin-right: 0;	
    font-size: 1.5em;
  }
   
  .dot {
    height: 8px;
    width: 8px;
    margin: 5px 1px;
  }
 
  .conteudo1{
    display: block;
  }
  
  .conteudo1 div{
    margin-left: 0;
  }

  #empresa h1{
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  
  .saibaMais{
    margin-left: 30%; 
  }
  
  .vejaEquipe{
    margin-left: 19%;
  }
  
  footer{
    height: 120px;
    text-align: center;
  }
  
  .contFooter{
    display: block;
  }
}
